  <!-- Modais de dicas -->
    <div class="modal fade" id="modal-tips{ tip.id }" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="bi bi-list-check me-2 text-warning"></i>
                        { tip.title }
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                   { tip.text }
                </div>
                <div class="modal-footer">
                    <button class="sty-btnmodal btn" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>